In [1]:
import pandas as pd
%matplotlib inline

In [11]:
emp = pd.read_csv('HR_comma_sep.csv', low_memory=False)

emp.head(5)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [12]:
emp.left = emp.left.map(lambda x: x == 1)

emp.head(5)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,True,0,sales,low
1,0.80,0.86,5,262,6,0,True,0,sales,medium
2,0.11,0.88,7,272,4,0,True,0,sales,medium
3,0.72,0.87,5,223,5,0,True,0,sales,low
4,0.37,0.52,2,159,3,0,True,0,sales,low

In [14]:
emp.groupby('satisfaction_level').head(10)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,True,0,sales,low
1,0.80,0.86,5,262,6,0,True,0,sales,medium
2,0.11,0.88,7,272,4,0,True,0,sales,medium
3,0.72,0.87,5,223,5,0,True,0,sales,low
4,0.37,0.52,2,159,3,0,True,0,sales,low
5,0.41,0.50,2,153,3,0,True,0,sales,low
6,0.10,0.77,6,247,4,0,True,0,sales,low
7,0.92,0.85,5,259,5,0,True,0,sales,low
8,0.89,1.00,5,224,5,0,True,0,sales,low
9,0.42,0.53,2,142,3,0,True,0,sales,low
10,0.45,0.54,2,135,3,0,True,0,sales,low
11,0.11,0.81,6,305,4,0,True,0,sales,low
12,0.84,0.92,4,234,5,0,True,0,sales,low
13,0.41,0.55,2,148,3,0,True,0,sales,low
14,0.36,0.56,2,137,3,0,True,0,sales,low
15,0.38,0.54,2,143,3,0,True,0,sales,low
16,0.45,0.47,2,160,3,0,True,0,sales,low
17,0.78,0.99,4,255,6,0,True,0,sales,low
18,0.45,0.51,2,160,3,1,True,1,sales,low
19,0.76,0.89,5,262,5,0,True,0,sales,low
20,0.11,0.83,6,282,4,0,True,0,sales,low
21,0.38,0.55,2,147,3,0,True,0,sales,low
22,0.09,0.95,6,304,4,0,True,0,sales,low
23,0.46,0.57,2,139,3,0,True,0,sales,low
24,0.40,0.53,2,158,3,0,True,0,sales,low
25,0.89,0.92,5,242,5,0,True,0,sales,low
26,0.82,0.87,4,239,5,0,True,0,sales,low
27,0.40,0.49,2,135,3,0,True,0,sales,low
28,0.41,0.46,2,128,3,0,True,0,accounting,low
29,0.38,0.50,2,132,3,0,True,0,accounting,low
...,...,...,...,...,...,...,...,...,...,...
4025,0.12,0.58,3,241,2,0,False,0,technical,low
4041,0.29,0.77,3,164,6,0,False,0,RandD,medium
4067,0.27,0.66,3,133,6,0,False,0,sales,low
4128,0.47,0.62,6,171,5,1,False,0,marketing,high
4146,0.18,0.81,5,140,4,0,False,0,sales,low
4152,0.27,0.47,5,217,6,0,False,0,accounting,medium
4215,0.25,0.62,6,271,5,0,False,0,sales,low
4216,0.25,0.82,3,269,5,0,False,0,sales,low
4341,0.47,0.50,4,159,2,0,False,0,product_mng,low
4460,0.23,0.37,3,247,4,0,False,0,hr,medium
4473,0.28,0.83,5,279,4,0,False,0,technical,medium
4487,0.29,0.77,3,152,3,1,False,0,technical,low
4517,0.25,0.59,4,218,3,1,False,0,sales,low
4556,0.23,0.67,4,163,5,0,False,1,support,low
4683,0.12,0.70,4,276,4,0,False,0,sales,low
4685,0.23,0.66,4,212,4,1,False,0,accounting,low
4701,0.28,0.76,3,150,2,0,False,0,technical,medium
4763,0.23,0.59,5,245,5,0,False,0,hr,low
4798,0.33,0.82,5,249,6,0,False,0,product_mng,low
4803,0.27,0.69,2,177,5,0,False,0,RandD,low
4942,0.28,0.51,3,124,3,0,False,0,technical,low
5124,0.23,0.48,5,221,6,0,False,0,sales,medium
5225,0.33,0.94,4,166,6,0,False,0,technical,low
5228,0.27,0.45,3,239,4,0,False,0,technical,low
5267,0.28,0.79,5,202,5,0,False,0,accounting,low
5342,0.28,0.90,4,275,6,0,False,0,marketing,low
5400,0.33,0.82,2,114,5,0,False,0,technical,high
5561,0.28,0.97,4,102,3,0,False,0,IT,high
5831,0.28,0.46,4,260,2,0,False,0,accounting,medium
6165,0.27,0.39,4,193,4,0,False,0,technical,medium